<nav class="navbar">

    <!-- Left: Logo -->
    <div class="sportiq-logo">
        <img src="assets\logo\sportiq-logo.png" alt="logo">
    </div>

    <!-- Center: Navigation Links -->
    <ul class="nav-links center">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">HOME</a></li>

        <!-- All Products Dropdown -->
        <li class="dropdown" (mouseenter)="showDropDown()" (mouseleave)="hideDropDown()">
            <a routerLink="/all-products" routerLinkActive="active">ALL PRODUCTS</a>

            <!--category Dropdown-->
            <div class="dropdown-menu" *ngIf="isDropDownVisible">
                <div class="categories">
                    <div class="category" *ngFor="let category of categoriesAndSubCategories" >
                        <span (click)="filterCategories(category.categoryName)">{{category.categoryName}}</span>
                        <div class="subcategories">
                            <a *ngFor="let subCategory of category.subCategories" (click)="filterSubCategories(category.categoryName,subCategory.subCategoryName)">
                                {{subCategory.subCategoryName}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        
        <li><a routerLink="/trending" class="color-red" routerLinkActive="active">TRENDING</a></li>
        <li><a routerLink="/offers" routerLinkActive="active">OFFERS</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">CONTACT</a></li>
    </ul>

    <!-- Right: Icons -->
    <div class="logo right">
        <img src="assets\logo\search 2.png" alt="search">
        <img src="assets\logo\people.png" alt="user" routerLink="/profile">
        <img src="assets\logo\shopping-bag.png" alt="cart" routerLink="/add-to-cart">
    </div>
</nav>