.selection-container {
    margin-bottom: 20px;
}

.object-selection {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.object-selection label {
    margin-right: 10px;
}

.axis-container {
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
    vertical-align: middle;
}

.axis-container select {
    margin: 0;
    width: auto;
}

.axis-container + .axis-container {
    margin-left: 30px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin: 0px;
    margin-top: 5px;
}

.axis-container .error-message {
    margin-top: 5px;
    display: block;
}

select {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 14px;
    width: 100%;
    max-width: 200px;
    box-sizing: border-box;
}

select:hover {
    border-color: #888;
}

select:focus {
    border-color: #5c9ded;
    background-color: #fff;
    outline: none;
}


.compare {
    display: flex;
    align-items: center; /* Ensures vertical centering */
    gap: 5px;
}

.compare-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 12px; /* Ensures it doesn't shrink */
}

.compare label {
    color: #030303b6; /* Text color */
    font-weight: bold;
}

.compare input[type="radio"] {
    cursor: pointer;
    accent-color: #007bff; /* Radio button color */
}


.visualization {
    width: 100%;
    max-width: 900px; /* Adjust based on your layout */
    margin: auto;
  }
  
  #chartContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  

  


  
  
